on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - "v*" # Push events to matching v*, i.e. v1.0, v20.15.10

name: Create Release

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Branch name
        id: branch_name
        run: |
          echo ::set-output name=SOURCE_NAME::${GITHUB_REF#refs/*/}
          echo ::set-output name=SOURCE_BRANCH::${GITHUB_REF#refs/heads/}
          echo ::set-output name=SOURCE_TAG::${GITHUB_REF#refs/tags/}
      - name: Install Go
        uses: actions/setup-go@v2
      - name: Install FPM
        run: |
          sudo apt-get install ruby ruby-dev rubygems build-essential
          sudo gem install --no-document fpm
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build project # This would actually build your project, using zip for an example artifact
        run: |
          go build hello-world.go
          zip --junk-paths my-artifact README.md hello-world
          packaging/prepare-pkg.sh ./hello-world
          packaging/get-changelog.sh  ${{ steps.branch_name.outputs.SOURCE_TAG }} > ${{ github.workspace }}-CHANGELOG.txt
          cat ${{ github.workspace }}-CHANGELOG.txt

      - name: Upload Release Asset  RPM
        id: upload-release-asset-rpm
        uses: softprops/action-gh-release@v1 
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          name: Release ${{ steps.branch_name.outputs.SOURCE_TAG }} 
          body_path: ${{ github.workspace }}-CHANGELOG.txt
          draft: false
          prerelease: false
          files: |
            my-artifact.zip
            LICENSE
            ${{ env.distdir }}/github-actions-test-${{env.version }}-1.x86_64.rpm

